<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1>Angular 2 Data Binding</h1>
    </div>
  </div>
</div>

<!-- interpolation -->

<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <h1>Intepolation</h1>
      <p> estes es un ejemplo de {{name}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Llamando un metodo </h2>
      <p> la suma entre 20 + 10 es = {{getSuma(20,10)}}</p>
    </div>


    <!-- property Bindig -->
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-12">
          <h1>Property Binding</h1>
          <p> <input type="text" class="form-control" [placeholder]="textoPlaceholder" title="property-binding"
              [disabled]="deshabilitado"></p>

          <br>

          <img [src]="imgSrc" alt="img" width="500px" height="300px">
        </div>
      </div>

      <!-- Event Binding -->

      <div class="container mt-4">
        <div class="row">
          <div class="col-md-12">
            <h1 class="md-2 mt-3">Event Binding</h1>
            <h3> {{texto}}</h3>
            <br>

            <button class="btn btn-primary" (click)="cambiarTexto()"> pulse aqui </button>


          </div>
        </div>
